<template>
  <div id="app">
    <HelloWorld msg="Welcome to mine Vue.js Appss 123" />fix bugf1
    fix another bug
    feat44
    fix bug
    aaa bb cc
  </div>
</template>

<script>
import HelloWorld from "./components/HelloWorld.vue";

export default {
  name: "App",
  components: {
    HelloWorld,
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #f00;
  margin-top: 40px;
  color: #2c3e50;
  margin-top: 100px;
}
</style>
